.add-user-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5vh
}

.heading {
    font-size: 25px;
    color: white;
    font-weight: bold;
    display: block;
    margin-left: -400px;
    text-decoration: underline;
}

.user-form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}

.user-form label {
    width: 50%;
}

.user-form input {
    width: 100%;
    height: 40px !important;
}

.user-form-header {
    display: flex;
    justify-content: space-evenly;
}

.history-button {
    padding: 10px;
    height: 40px;
}
